@font-face {
    font-family: Sansita-Black;
    src: url(./Sansita-Black.ttf);    
}
@font-face {    
    font-family: Sansita-BoldItalic;
    src: url(./Sansita-BoldItalic.ttf);
}
@font-face {    
    font-family: Sansita-Regular;
    src: url(./Sansita-Regular.ttf);
}
 body{    
      background-color: whitesmoke
 }
 
 .contTitulo{
    border-radius: 1vw;
    margin: 1vw 1vw 0 1vw;
 }
.titulo h1{
    font-family: Sansita-Black;
    color: deeppink;
}
.titulo p{
    font-family: Sansita-BoldItalic;
    color: deeppink;
}
.presentacion{
    margin: 10px;
    background-color: deeppink;
    padding: 1.5vw;
    border-radius: 1vw 4vw;
    box-shadow: 0 0 20px 1vw rgba(0, 0, 0, 0.2);
}
.presentacion h5{
    font-family: Sansita-Black;
    color: white;
    margin: 0 1% 0 2%;    
}
.presentacion p{
    font-family: Sansita-BoldItalic;
    color: white;
    text-align: justify;
    margin: 0 1% 0 2%;    
}
.presentacion img{
    border-radius: 50%;
}
.presentacion a img{
    width: 2vw;
    margin: 1vw;/*para separar los iconos de instagram y watsapp*/
}
.presentacion a img:hover{
    transform: scale(1.2);
}
.iconosPresentacion{
    text-align: center;/*para centrar los iconos de instagram y watsapp*/
}
.cuadricula{
    display: grid;    
    grid-template-columns: 25% 25% 25% 25%;  
    grid-template-rows:  33% 33% 33%;
    column-gap: 1vw;     
    padding: 1em 5em 1em 5em;      
}
.contImagen{    
    max-width: 100%;
    height: auto;
}
.imagen{
    width: 100%;
    height: 80%;
}
.contTexto h5{
    max-width: 100%; /* Establece el ancho máximo del contenedor */
    overflow: hidden; /* Oculta el texto que se desborda del contenedor */
    text-overflow: ellipsis; /* Agrega puntos suspensivos (...) al texto desbordado */
    white-space: nowrap; /* Evita que el texto se divida en múltiples líneas */
 text-align: center;
}
.enlace img:hover{    
   transform: scale(1.2);/*para que el boton de watsapp se agrande en su mismo eje*/
}
.enlace img{    
    width: 5em;
    height: auto;
    position: fixed;
    top: 55vh;
    right: 1vw;
    border-radius: 50%;
    box-shadow:0px 0px 20px 0.5vw rgba(0, 0, 0, 0.3) ;
}
 .footer{   
    position: absolute; /*esta propiedad se aplica para que el footer se pegue al margen inferior*/
    bottom: 0em; /*esta propiedad se aplica para que el footer se pegue al margen inferior*/  
    width: 100%;/*para que el footer se expanda al ancho de la pantalla*/
    background-color: deeppink; 
    text-align: center;
    padding: 1em 10em 0em 0em;    
 } 
 .linkFooter{
  list-style-type: none;/*para quitar el punto que aparece a la izquierdsa en cada elemento de una lista*/    
}
.linkFooter li{
    display: inline-block;     
 }
 .linkFooter h5{
    color: white;
    font-weight: bolder;   
 } 
 .footer img{    
    width: 2em;
    height: auto;
   /* margin-left: 10em;*/   
 } 