body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.mainContainer{
    display: grid;
    grid-template-columns: 20vw 79vw;    
    margin: 0;
    padding: 0;
    font-size: larger;
   
}
.perfilUsuario{ 
    display: flex;
    flex-direction: column;     
    background: url(./imagenes/banner2.png) ; 
    background-size: cover;    
    color: blueviolet;    
    align-items: center; 
    box-shadow: 2px 0px 10px 10px rgba(0, 0, 0, .5);    
}    

.perfilUsuario img{     
    border-radius: 50%;
    width: 14vw;
    height: auto;       
}
.perfilUsuario ul{ 
    display: flex;
    flex-direction: column;  
    margin: 2vh 0vh;
    list-style-type: none;    
     
}
.perfilUsuario li{
    margin: 0.5rem 0;
        
}
.perfilUsuario a{
    text-decoration: none;
    margin: 0;
    padding: 0;
    width: 20vw;
}
.articuloPresentacion{
    text-align: justify;
    color: blueviolet;
    column-count: 2;
    column-gap: 2vw;
    column-rule-style: solid;
    margin: 0 2vw;
}
.contenidos h3{
    color: blueviolet;
    margin-left: 2vw;
}
.actividad{
    margin: 0 2vw;
    display: grid;
    grid-template-columns: 5em 17em 5em;    
    justify-content: center; 
}
.botonSliderIzquierda{
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: blueviolet;
}
.botonSliderDerecha{
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: blueviolet;
}
.contenidoInstagram{    
   overflow: hidden;    
}
.videos{
    display: flex;     
    height: 30em;
    /*translate: -27em;*/
}
.separadorPerfilUsuario{
  margin: 0 2vw;    
}
.slogan{
    font-size: 1rem;
    margin: 2vh 0;
    }
    footer{
        margin-top: 3vw;
    }

@media screen and (max-width:780px){    
    .mainContainer{
        display: grid;   
        grid-template-columns: 100vw;  
    }
    .contImagenPerfil{        
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: aliceblue;
        width: 35vw;
        height: 18vh;
    }
    .perfilUsuario img{ 
        border-radius: 50%;
        width: 30vw;
        height: auto; 
        background-color: aliceblue;         
    }
    .perfilUsuario{ 
        box-shadow: none;
    }       
    .articuloPresentacion{       
       column-count: 1;
        margin: 0 2vw;      
    }
    .separador{
        width: 98vw;        
    }
    .actividad{
        margin: 0; 
        grid-template-columns: 1.5em 17em 1.5em;           
    }    
    .videos{
        height: 30em;
        /*translate: -27em;*/
    }
}