@font-face {
    font-family: Sansita-Black;
    src: url(./Sansita-Black.ttf);    
}
@font-face {    
    font-family: Sansita-BoldItalic;
    src: url(./Sansita-BoldItalic.ttf);
}
@font-face {    
    font-family: Sansita-Regular;
    src: url(./Sansita-Regular.ttf);
}
body{
    font-family: Sansita-Regular;     
    background-color: rgba(255, 192, 203, 0.233);      
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    position: relative; 
    width: 100%;
    height: 100%;   
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    header{    
    display: flex;
    align-items: center;    
    justify-content: center;
    background-color: white;
    padding: 1.5rem;
    gap: 2rem;   
          
    }
    header img{           
        width: auto;
        height: 4rem;        
    }
    header h2{               
        color: deeppink; 
        font-family: Sansita-Black;
    }   
    .listNav{
        display: flex;        
        list-style-type: none;
        gap: 2rem;       
    }
    .listNav a{
        text-decoration: none;
        color: deeppink;    
        font-size: 1.2rem;
    }
    .listNav a:hover{     
     color: blueviolet; 
     font-size: 1.4rem;    
    }

    .abrir-menu,      
    .cerrar-menu{
        display: none;  
        border: none;                 
    }
    .abrir-menu i{
        background-color:rgba(255, 20, 145, 0.187);
     font-size: 2rem;
    } 
    .banner{
        display: flex;
        flex-direction: column;
        align-items: center;
        color: blueviolet; 
        font-size: 2rem;
    }    
    
    .banner img{        
        margin: 1rem 0rem 3rem 0rem;
        width: 50vw;
        height: 30vh;
    }
.mainContainer{   
    margin: 1% 20% 1% 20%;
}
.mainContainer ul{      
    display: grid;        
    grid-template-columns: repeat(3, 1fr );
    grid-template-rows: repeat(3, 1fr); /* Tres filas */
    list-style-type: none;
    column-gap: 2%;
    row-gap: 1%;   
}
.mainContainer img{
   border-radius: 3vh;
    width: 100%; /* Ocupa todo el ancho de la celda */
    height: 80%;/* Ocupa el 60% de la altura de la celda */
    object-fit: cover; /* Ajusta la imagen para cubrir la celda */
}
.mainContainer h5{      
   text-align: center; 
   font-size: 1rem; 
   color: deeppink; 
   background-color: blanchedalmond;
}
.footer{   
    background-color: deeppink;
    height: 3rem;
    color: white;
    display: flex;    
    justify-content: center;
    align-items: center;    
    width: 100%;         
    }
   