@media screen and (max-width:1440px){
    
     .listNav{        
        gap: 2rem;           
    }    
    .listNav a{            
        font-size: 1.5rem;
    }
}

@media screen and (max-width:1024px){
    .botonWatsapp{        
        height: 14vh;
        z-index: 2;       
    }   
    header{
        gap: 1rem;
    }   
    header h2{
        font-size: 1.2rem;
        }
        .listNav a{
            font-size: 1.2rem;
        }
        .listNav{        
            gap: 1rem;           
        }    
        .subtitulo{       
            font-size: 0.8rem;
        }        
        .subtituloProductos{
            font-size: 1.5rem;
        }
}
@media screen and (max-width:960px){
    
}
@media screen and (max-width:780px){    
    .abrir-menu{
    display: block;       
}
.nav{      
    display: flex;
    position: absolute; 
    flex-direction: column;          
    top: 0rem;
    right: 0rem;
    bottom: 0rem;
    left: 8rem;
    background-color: deeppink;    
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    padding: 1rem;   
    display: none;
    border-radius: 1rem;    
    z-index: 3;
}
.listNav{
flex-direction: column;
align-items: end;
gap: 4rem;
}
.listNav a{    
    color: white;
    font-family: Sansita-Regular;
    font-size: 1.3rem;
}
.listNav a:hover{   
    font-size: 1.2rem;    
   }     
.cerrar-menu{       
    display: block;   
    margin-bottom: 1rem; 
    position: relative;     
}
.nav.visible{
    display: block;
}
header {
    padding: 0.5rem;
    gap: 2.5rem;  
}
header h2{
font-size: 1.5rem;
}
header img{           
    width: auto;
    height: 3rem;        
}
.iconoQuienesSomos{
    display: flex;       
    left: 2rem;
    bottom: 0.5rem;
    flex-direction: column;
    align-items: center;
    
}    
.iconoQuienesSomos img{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}
.quienesSomos{
color: white;
font-size: 0.7rem;
}
.contBanner{         
    width: 75vw; 
    height: 30vh;         
}
.botonIzquierda{   
    margin-top:15vh;
    margin-left: -4vw;   
}
.botonDerecha{    
    margin-top:15vh; 
    margin-left: 74vw;              
}
.slogan{       
    font-size: 0.7rem;
}    
.containerCuadricula{
    display: flex;
    justify-content: center;    
}
.containerCuadricula ul{      
    grid-template-columns: 40vw 40vw;
    grid-template-rows: 40vh 40vh 40vh 40vh 40vh;    
    column-gap: 5%;
    row-gap: 0%;    
}
.containerCuadricula h5{    
    font-size: 1rem;    
 }
.containerCuadricula img{   
     width: 100%; 
     height: 75%;      
 } 
 .botonWatsapp{        
    height: 8vh;  
    right: 1rem;     
}
footer{
    height: 5rem;
}
}
