@media screen and (max-width:1440px) {
    .cuadricula{
       grid-template-columns: 32% 32% 32%;  
       grid-template-rows: 25% 25% 25% 25%;       
       row-gap: 0em;   
       padding: 1em 5em 2em 5em;     
    }    
    .imagen{
        width: 100%;
        height: 70%;
    }
    .responsive-nav-social {    
        padding: 0.5% 0% 0% 0.5%;/*para centrar verticalmente y horizontalmente la lista del menu*/
        background-color: deeppink;
        margin: 0% 0% 0% 5%; /*para que la barra de menu tome margen derecho e izquierdo */
        border-radius: 3vw; /*para volver ovalada la barra*/
        height: 8vh;  /*para cambiarle el grosor a la barra*/  
      }  
      
}

@media screen and (max-width:480px) {
    .cuadricula{
       grid-template-columns: 48% 48%;  
       grid-template-rows: 18% 18% 18% 18% 18%;
       row-gap: 1em;  
       padding: 1em 1em 0em 1em;              
    }    
    .imagen{
        width: 100%;
        height: 75%;
    }
    .enlace img{    
        width: 4em;
        height: auto;
        box-shadow:0px 0px 20px 0.5vw rgba(0, 0, 0, 0.8) ;
    }
    .presentacion a img{
        width: 10vw;
        margin: 5vw;
    }
}

/*@media screen and (max-width:320px) {
    .cuadricula{
       grid-template-columns: 100%;  
       grid-template-rows: 9% 9% 9% 9% 9% 9% 9% 9% 9% 9%; 
       row-gap: 1%;  
       padding: 1em 1em 1em 1em;         
    }     
    .imagen{
        height: 80%;
    }    
    .enlace img{
        width: 20vw;
        height: auto;
    }       
     .footer img{
        width: 10vw;
     }   
     .presentacion{
        padding: 1.5vw;
        border-radius: 1vw 10vw;        
    }
    h5{
    font-size: 1.5rem;
}
.presentacion a img{
    width: 10vw;
    margin: 5vw;
}
}*/
