@media screen and (max-width:780px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        }
    .abrir-menu{
    display: block;    
}
header{
    justify-content: start;
}
.nav{    
    display: flex;
    flex-direction: column;
    align-items: start;
    position: absolute;
    top: 0rem;
    left: 0rem;
    background-color: deeppink;
    bottom: 0;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    padding: 2rem;   
    display: none;
}
.listNav{
flex-direction: column;
margin-top: 2rem;
}
.cerrar-menu{
    display: block;
}
.nav.visible{
    display: block;
}
.mainContainer ul{   
    grid-template-columns: repeat(2, 1fr );
    grid-template-rows: repeat(5, 1fr);    
    column-gap: 3%;
    row-gap: 3%;
    margin-bottom: 5%;
}
}